#menubox { 

    width: 315px;
    height: 430px;
    margin: 150;
    position: absolute;
    z-index: 10;
    background-color: #ff0000;  /* 背景颜色 */
    text-align: center;
    border: 30px  #ff0000;
    cursor: default;
    border-radius: 6px;
    overflow-y: auto;
  }
  
  .button {
        display: inline-block;
        padding: 8px 3px;
        background-color: rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        border:rgb(0, 0, 0);
        border-radius: 0px;
        cursor: move;
         margin: 4x;  /* 添加此选项以在按钮之间创建间隙 */
      }
  #menuview {
  
  padding: 20x;
  cursor: pointer;
  z-index: 10;
  border: 5px  #ffffff;
  background-color: #C3BDBB;
  color: rgb(0, 0, 0);
  }

  label {
    color: rgb(255, 255, 255);
    font-family: 'Lato', Lato;  /* 功能字体颜色 */
  }

  body {font-family: Lato;}

/* 设置选项卡样式 */
.tab {
  overflow: hidden;
  border: 8px solid #ccc;
  background-color: #f4f4f4;
}

/* 设置选项卡内按钮的样式 */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.7s;
  font-size: 14.52px;
}

/* 更改按钮的背景颜色r */
.tab button:hover {
  background-color: #fff;
}

/* 创建活动/当前选项卡链接类 */
.tab button.active {
  background-color: #ccc;
}

/* 设置选项卡内容的样式 */
.tabcontent {
  display: none;
  padding: 12px 15px;
  border: 0px solid #ccc;
  border-top: none;
}
